<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - AMONT</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <!-- Primary Meta Tags -->
  <meta name="title" content="{{title}} - AMONT">
  <meta name="author" content="AMONT">
  <meta name="description" content="{% if description %}{{ description}}Association Montagne et Traditions{% endif %}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://amont.com">
  <meta property="og:title" content="{{title}} - AMONT">
  <meta property="og:description" content="{% if description %}{{ description}}Association Montagne et Traditions{% endif %}">
  <meta property="og:image" content="IMAGE HERE">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://amont.com">
  <meta property="twitter:title" content="{{title}} - AMONT">
  <meta property="twitter:description" content="{% if description %}{{ description}}Association Montagne et Traditions{% endif %}">
  <meta property="twitter:image" content="IMAGE HERE">

  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
  {{ content | safe }}
</body>
</html>