---
permalink: /index.html
layout: default.njk
---


<div class="header-container">
    <div class="header-block">
        <h1>AMONT</h1>
        <span>Association Montagne et Patrimoine</span>
    </div>
    <img src="/assets/media/images/coiffeur.jpg">
</div>
<div class="w-full middle-menu">
    <a href="">L'association</a>
    <a href="">Le Haut-Pays</a>
    <a href="">Third</a>
</div>
<img src="/assets/media/images/gare-smv.jpg" class="w-full">
<div class="w-full middle-menu">
    <a href="">Actualités</a>
    <a href="">Nos publications</a>
    <a href="">Le Musée</a>
</div>

<footer>
    <div>Menu 1
    </div>
    <div>Menu 2
    </div>
    <div>Légal
        <ul>
        <li>Politique de confidentialité</li>
        <li>RGPD</li>
        <li>Impressum</li>
        </ul>
    </div>
</footer>